<!DOCTYPE html>
<html>
  <head>
    <title>Mohammed's Resources</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 >Welcome to Mohammed's resources</h1>
    <br>
    <%= yield %>
  </body>
</html>
